{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="School Management System (SMS)">
    <meta name="keywords" content="School Management System (SMS)">
    <meta name="author" content="School Management System (SMS)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>

        {% if titre %}
        {{titre}}
        {% else %}
        SMS
        {% endif %}

    </title>
    <!-- Fevicon -->
    <link rel="shortcut icon" href="{% static 'administration/assets/images/favicon.ico' %}">
    <link href="{% static 'administration/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'administration/assets/css/style.css' %}" rel="stylesheet" type="text/css">
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-HWPKFYEWD0"></script>
   <script>
       window.dataLayer = window.dataLayer || [];
 
       function gtag() {
           dataLayer.push(arguments);
       }
       gtag('js', new Date());
 
       gtag('config', 'G-HWPKFYEWD0');
   </script>

</head>


<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar" class="containerbar authenticate-bg">
        <!-- Start Container -->
        <div class="container">
            <div class="auth-box login-box">
                <!-- Start row -->
                <div class="row no-gutters align-items-center justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-6 col-lg-5">
                        <!-- Start Auth Box -->
                        <div class="auth-box-right">
                            <div class="card">
                                <div class="card-body">

                                    {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <strong>Oops! Il y a des erreurs :</strong>
                                        <ul>
                                            {% for field in form %}
                                            {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}



                                    {% block content %}

                                    {% endblock content %}


                                </div>
                            </div>
                        </div>
                        <!-- End Auth Box -->
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
        </div>
        <!-- End Container -->
    </div>
    <!-- End Containerbar -->
    <!-- Start js -->

    <script>
        function myFunction() {
            var x = document.getElementById("id_password") || document.getElementById("id_new_password1") || document.getElementById("id_new_password2");
            var y = document.getElementById("id_new_password2");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
            if (y.type === "password") {
                y.type = "text";
            } else {
                y.type = "password";
            }
        }
    </script>


</body>

</html>