{% extends 'administration/uses/ blank.html' %}
{% load static %}


{% block page %}

<!-- Start Contentbar -->
<div class="contentbar">
    <!-- Start row -->
    <div class="row">
        <!-- Start col -->
        <div class="col-lg-12">
            <div class="card m-b-30">
                
                <div class="card-body">
                    <h6 class="card-subtitle">Exportez les données vers Copy, CSV, Excel & Note.</h6>
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                
                                <th>ID</th>
                                <th>ANNEE ACADEMIQUE</th>
                                <th>MATRICULE</th>
                                <th>NOM</th>
                                <th>PRENOMS</th>
                                <th>DATE DE NAISSANCE</th>
                                <th>LIEU DE NAISSANCE</th>
                                <th>SEXE</th>
                                <th>FILIERE</th>
                                <th>MOYENNE S1</th>
                                <th>CREDIT S1</th>
                                <th>DECISION S1</th>
                                <th>MOYENNE S2</th>
                                <th>CREDIT S2</th>
                                <th>DECISION S2</th>
                                <th>MOYENNE ANNUEL</th>
                                <th>CREDIT CREDIT ANNUEL</th>
                                <th>DECISION ANNUELLE</th>
                            </tr>
                            </thead>
                            
                            <tbody>
                           
                            {% for scolarite in scolarites  %}

                            <tr>
                                <th>{{forloop.counter}}</th>
                                <th><b>{{scolarite.annee_academique | upper }}</b></th>
                                <th>{{scolarite.etudiant.matricule | upper }}</th>
                                <th>{{scolarite.etudiant.numero_table_bac | upper }}</th>
                                <th>{{scolarite.etudiant.nom | upper }}</th>
                                <th>{{scolarite.etudiant.prenom | upper }}</th>
                                <th>{{scolarite.etudiant.date_de_naissance | upper }}</th>
                                <th>{{scolarite.etudiant.lieu_de_naissance | upper }}</th>
                                {% comment %} <th>{{scolarite.etudiant.lieu_de_residence | upper }}</th> {% endcomment %}
                                <th>{{scolarite.etudiant.sexe | upper }}</th>
                                <th>{{scolarite.etudiant.utilisateur.email  }}</th>
                                <th>+225{{scolarite.etudiant.contact | upper }}</th>
                                <th>+225{{scolarite.etudiant.contactparent | upper }}</th>
                                <th>{{scolarite.filiere | upper }}</th>
                                <th>{{scolarite.niveau | upper }}</th>
                                <th>{{scolarite.moyenne1 | upper }}</th>
                                <th>{{scolarite.credit_obtenues_notes_semestre_1 }} / 30</th>
                                <th>
                                    {% if scolarite.credit_obtenues_notes_semestre_1 == 30 %}
                                        ADMIS(E)
                                    {% else %}
                                        AJOURNE(E)
                                    {% endif %}
                                </th>
                                <th>{{scolarite.moyenne2  }}</th>
                                <th>{{scolarite.credit_obtenues_notes_semestre_2 }} / 30</th>
                                <th>
                                    {% if scolarite.credit_obtenues_notes_semestre_2 == 30 %}
                                        ADMIS(E)
                                    {% else %}
                                        AJOURNE(E)
                                    {% endif %}
                                </th>
                                <th>{{scolarite.moyenne_totale | upper }}MOYENNE ANNUEL</th>
                                <th>{{scolarite.credit_total}} / 60 </th>
                                <th>
                                    {% if scolarite.credit_total == 60 %}
                                        ADMIS(E)
                                    {% elif scolarite.credit_total >= 48 %}
                                        DEROGE(E)
                                    {% else %}
                                        REFUSE(E)
                                    {% endif %}
                                </th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End col -->
    </div>
    <!-- End row -->
</div>
    
{% endblock page %}
    