# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.sqlite3-journal
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal
media/
staticfiles/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
celerybeat-schedule
instance/
*.mo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Virtual environments
env/
venv/
ENV/
.venv/
media/
# Explicitly DO NOT ignore .env files or variants
# So files like .env, .env.dev, .env.prod, env.dev, env.prod ARE included
# Secrets locaux
*.json
*.pgsql
*.env*
# Secrets / tokens
SMS/gen.txt
etudiants/credentials.json

# OAuth / API credentials
*credentials.json
*token.json

# Local database dumps
*.pgsql
*.sql
*.json

# Logs
*.log

# Django media
media/
