
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CERTIFICATS D'ADMISSIONS {{ session }}</title>

    <!-- Bootstrap + font -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">

    <!-- Styles internes -->
    <style>
      body {
        font-family: 'Times New Roman', Times, serif;
      }
      .gras {
        font-weight: bold !important;
        font-size: 20px;
      }
      .gras-2 {
        font-weight: bold !important;
        font-size: 25px;
      }
      .page-break {
        page-break-before: always;
      }
    </style>
  </head>

  <body>
    {% for attestation in diplomes %}
      <div class="container" style="margin-top:230px">
        <p class="gras text-center" style="font-size:18px">
          N° <span style="font-size:22px;">{{ attestation.code|upper }}</span>
        </p>

        <div class="text-center">
          <h3>
            {% if attestation.cycle == "UNIVERSITAIRE" %}
              Le Président
            {% else %}
              Le Directeur Général
            {% endif %}
            de l’Institut International Polytechnique des Elites d’Abidjan (IIPEA),<br>
            certifie que le Diplôme de :
          </h3>

          <h3><b>{{ attestation.diplome|upper }}</b></h3>

          <h5>
            est délivré au titre de l'année académique
            <span class="gras">{{ attestation.annee_academique }}</span> à :
          </h5>

          <h3 style="margin-top:10px;">
            {{ attestation.genre }}<b>{{ attestation.nom }} {{ attestation.prenom }}</b>,
            Né(e) le <span class="gras">{{ attestation.date_de_naissance|date:"d/m/Y" }}</span>
            à <span class="gras">{{ attestation.lieu_de_naissance }}</span>
          </h3>

          <h5>
            Conformément au procès-verbal en date du
            <span class="gras">{{ attestation.date_soutenance_formatted }}</span>
            établi par le jury de délibération.
          </h5>
        </div>

        <div class="row mt-4 text-end">
          <div class="col-12 offset-3">
            <p style="font-weight:bold; font-size:19px;">
              Fait à Abidjan le …………………………
            </p>

            {% if attestation.cycle == "UNIVERSITAIRE" %}
              <p style="font-weight:bold; font-size:19px;">Le Président   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
            {% else %}
              <p style="font-weight:bold; font-size:19px;">Le Directeur Général &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</p>
            {% endif %}

            <p style="font-weight:bold; font-size:19px;">
                <br>
                <br>
              Dr KONE Ismaël &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            </p>
          </div>
        </div>

        <p class="page-break"></p>
      </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
  </body>
</html>
