<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ diplome.diplome }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
    crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">
    <style>
        .gras{
            font-weight:bold !important ;
            font-size:20px
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
   
    <ul>
       
        <div class="row">
            <div class="col">
               </div>
            <div class="col">
          
                <h4 style="margin-top:110px;flaot:right;line-height: 1.5;font-family: 'Times New Roman', Times, serif; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Abidjan, le {% now "d/m/Y" %}</h4>
           
           </div>
            </div>
        </div>
        
        <div style="margin-top:180px">
                   <div class="container-fluid">
                    <h5 style="line-height: 1.5;font-family: 'Times New Roman', Times, serif; ">
                        <b>L’INSTITUT INTERNATIONALE POLYTECHNIQUE DES ELITES D’ABIDJAN (IIPEA)</b>, sis à Abidjan Cocody, Riviera 2, route Attoban, 
                        Téléphone : (+225) 07 08 08 87 87 / 05 44 02 60 60, E-mail : <a href="#">secretariat@iipea.com</a>, représenté par Monsieur <b>KONE ISMAEL</b>, 
                        Directeur Général atteste que : <br>
                        L’étudiant(e) {{ attestation.genre }}    
                        <b>{{attestation.nom | upper }} {{attestation.prenom | upper }}</B>
                        Né(e) le {{attestation.date_de_naissance | date:'d/m/Y' }} à {{attestation.lieu_de_naissance | upper }} ,
                      a réussi au  
                             : <br>
                       <B>Diplôme de 
                       {{attestation.diplome | capfirst}}
                       </B>, aux délibérations du jury de certification de {{attestation.session_soutenance | upper }}.<br>
                       <br>
                             Cette attestation est authentique et conforme à l’original, 
    
                        <br>
                        <br>
                        En foi de quoi nous lui délivrons cette attestation pour servir et valoir ce que de droit.
                        
    
                    </h5>
                    <div class="row">
                        <div class="col">
 </div>
                        <div class="col">
                            <h4 style="line-height: 1.5;font-family: 'Times New Roman', Times, serif; float:right">
    
                                <br>
                                <br>
                                <b>Le Secrétaire Général</b>
                             
                                <br>
                                <br>
                                <br>
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;OURAGA Jonathan</b>
                        </h4>
                       </div>
                        </div>
                    </div>
                    
    
               
         
           </div>
           <p style="page-break-before: always;"></p>
       
    </ul>


    <ul>
       
        <div style="margin-top:320px">
            <h3 style="text-align:center;font-family: 'Times New Roman', Times, serif;">
                <b style="text-align:center">
              AU DIPLÔME DE {{attestation.diplome | upper }}
                </b>
            </h3>
              
               
               
                   <div class="container-fluid">
                    <h5 style="line-height: 1.5;font-family: 'Times New Roman', Times, serif;margin-top:30px ">
                        Le Directeur Général de l’Institut International Polytechnique des Élites  d’Abidjan (IIPEA), atteste que  {{ attestation.genre }}    
                        <b>{{attestation.nom | upper }} {{attestation.prenom | upper }}, </b> 
                        Né(e) le {{attestation.date_de_naissance | date:'d/m/Y' }} À {{attestation.lieu_de_naissance | upper }},<br>
                        Inscrit sous le matricule <b>{{attestation.matricule | upper }}</b>, a obtenu le : 
                        <br><b>Diplôme de {{attestation.diplome | capfirst}}</b>,
                            <br>
                        Au titre de l’année académique {{attestation.annee_academique}}.
    
                     
                    </h5>
                    <div class="row">
                        <div class="col">
                           </div>
                        <div class="col">
                            <h4 style="line-height: 1.5;font-family: 'Times New Roman', Times, serif; float:right">
    
        
                                <b>Fait à Abidjan, le {% now "d/m/Y" %}</b>
                               
                               
                                <br>
                                <br>
                                <b>    Le Directeur Général</b>
                             
                                <br>
                                <br>
                                <br>
                               
                                <b>&nbsp;&nbsp;&nbsp;&nbsp;   KONE Ismaël</b>
                        </h4>
                       </div>
                        </div>
                    </div>
                    
                    
    
               
         
           </div>
           <div class="row">
            <div class="col">
                <img  src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=https://myiipea.com{% url 'verify' code=attestation.code %}" width="60px" />
            </div>
        </div>
           <p style="page-break-before: always;"></p>
       
    </ul>
    <ul>
       
                <div class="" style="margin-top:230px">
                    
                    <p class="gras text-center"  style="font-weight:bold;font-size:18px">
                        <br>
                        <b style="font-size:22px;font-weight:bold;">
                           N° {{attestation.code | upper }} 
                        </b>
                     </p>
                    <div class="">
                
                <center>
                  <h3>
                    
                    {% if attestation.cycle == "UNIVERSITAIRE" %}Le Président {% elif attestation.cycle == "PROFESSIONNEL" %}Le Directeur Général {% endif %} de l’Institut International Polytechnique des Elites d’Abidjan (IIPEA), <br> certifie que le Diplôme de : <br>
                      
                  </h3>
                
                    <h3>
                       <b>{{attestation.diplome | upper }}</b>
                    </h3>
                   
                    
                        <h5>
                            est délivré au titre de l'année académique <b style="" class="gras">{{attestation.annee_academique}}</b> à :
                        </h5> 
                        <h3 style="margin-top:10px">
                        {{ attestation.genre }}  <b style=""  class="">{{attestation.nom }} {{attestation.prenom }}</b> , Né(e) le <b style="" class="gras">{{attestation.date_de_naissance |date:'d/m/Y' }}</b> à <b style="" class="gras">{{attestation.lieu_de_naissance }}</b><br>
                        </h3>
                      
                        <h5>
                            Conformément au procès verbal en date du <b style="" class="gras">{{attestation.date_soutenance  }}</b> établit par le jury de délibération.
                        </h5>
                   
                </center>

              
                <div class="row" style="text-align:right;margin-top:15px">
                    <div class="col-12" style="margin-left:-150px;">
                       
                        <p style="font-weight: bold;font-size: 19px">
                            Fait à Abidjan le .........................<br>
                            <br>
                            {% if attestation.cycle == "UNIVERSITAIRE" %}
                            <b>Le Président&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br>
                            {% elif attestation.cycle == "PROFESSIONNEL" %}
                            <b>Le Directeur Général&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b><br></p>
                            {% endif %}
                        </p>
                        <br>
                        <br>
                        <br>
                       
                       
                      
                        <p style="font-weight: bold;font-size: 19px">
                            <b>Dr KONE Ismaël  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
                        </p>
                      
                    </div>
                </div>
           <p style="page-break-before: always;"></p>
            </div>
       
    </ul>

    <ul>
       
                <div class="container-fluid">
                    <h2 class="text-center gras" style="line-height: 1.5;margin-top:80px;font-weight:bold;font-size:4 0px"><strong style="font-weight: bold;font-size: 35px">{{attestation.niveau | upper }}</strong></h2>
                    <p class="gras text-center"  style="font-weight:bold;font-size:13px">
                        <b style="font-family: 'Berlin Sans FB';font-size:19px;font-weight:bold;">
                            Diplôme enregistré sous le N° {{attestation.code | upper }} Année académique {{attestation.annee_academique | upper }} IIPEA
                        </b>
                     </p>
                    <div class="container">
                        {% if attestation.cycle == "UNIVERSITAIRE" %}
                        <p class="text-center" style="font-size:12px">
                           <i style="font-family: 'Berlin Sans FB';">
                            Vu la loi N°2023-423 du 22 mai 2023 relative à l’enseignement,<br>
                            Vu le décret N°97-675 du 3 septembre 1997 fixant les conditions de concession du service public et de l’enseignement à des établissements privés ;<br>
                            Vu la décision N°198 /MERS/DGES/KKJ du 24 avril 2020 portant autorisation de création d’Etablissement Privés d’Enseignement Supérieur de type universitaire ;<br>
                            Vu l’arrêté N°199 /MERS/DGES/DESUP/KKJ du 24 avril 2020 portant autorisation d’ouverture et d’agrément d’Etablissement Privés d’Enseignement de type universitaire ;<br>
                            Vu l’arrêté N°558/ MERS/DGES du 04 novembre 2021 fixant la liste des Etablissement Privés de types universitaire habilités à délivrer des diplômes homologués par la Commission de Reconnaissance et d’Equivalence de Diplômes Nationaux et Etrangers Post-Bac, en sa saison du mercredi, 09 février 2022.<br>
                            Vu les pièces justificatives produites par l’intéressé(e) en vue de son inscription pour le parcours {{attestation.niveau | lower | capfirst}} 
                           </i>
    
                        </p>
                        {% elif attestation.cycle == "PROFESSIONNEL" %}
                        <p class="text-center" style="font-size:12px">
                           <i style="font-family: 'Berlin Sans FB';">
                            Vu la loi N°2023-423 du 22 mai 2023 relative à l’enseignement,<br>
                            Vu le décret N°97-675 du 3 septembre 1997 fixant les conditions de concession du service public et l’enseignement à des établissements privés ;<br>
                            Vu l’arrêté N°361 du 19 juin 2007 fixant les conditions d’autorisation de création et d’ouverture, des Grandes Ecoles et Universités Privées,<br>
                            Vu l’arrêté N°779 /MERS/DGES/DESUP/KKJ du 01 octobre 2019 portant autorisation d’ouverture et d’agrément d’Etablissement Privés d’Enseignement Supérieur de type post BTS ;<br>
                            Vu l’arrêté N°420/ MERS/DGES du 04 novembre 2022 fixant la liste des Etablissement Privés d’Enseignement Supérieur de type Grande Ecole habilités à délivrer des diplômes homologués par la Commission de Reconnaissance et d’Equivalence de Diplômes Nationaux et Etrangers Post-Bac, en sa saison du mercredi, 09 février 2022 ; <br>
                            Vu les pièces justificatives produites par l’intéressé(e) en vue de son inscription pour le parcours {{attestation.niveau| lower |  capfirst}}
                           </i>
    
                        </p>
                    {% endif %}
                    <p>
                        Vu le procès-verbal du jury en date du <b style="" class="gras">{{attestation.date_soutenance | date:"d F Y" }}</b> attestant que l’intéressé(e) a satisfait toutes les obligations du règlement des études.<br>
                        Sur proposition du {% if attestation.cycle == "UNIVERSITAIRE" %} Président {% elif attestation.cycle == "PROFESSIONNEL" %} Directeur Général {% endif %} de l’Institut International Polytechnique des Elites d’Abidjan sis Abidjan Cocody,<br>
                        Le Ministre de l’Enseignement Supérieur et de la Recherche Scientifique délivre au titre de l’année académique <b style="">{{attestation.annee_academique}}</b><br>
                        À {{ attestation.genre }}  <b style=""  class="gras">{{attestation.nom }} {{attestation.prenom }}</b><br>
                        Né(e) le <b style="" class="gras">{{attestation.date_de_naissance |date:'d/m/Y' }}</b> à <b style="" class="gras">{{attestation.lieu_de_naissance }}</b><br>
                        Le Diplôme de <b style="" class="gras">{{attestation.diplome | upper }}</b><br>
                        Et lui confère le <b style="" class="gras"> Grade de {{attestation.niveau | lower | capfirst }}</b> et reconnu comme tel, pour en jouir avec les prérogatives qui y sont attachées.<br>

                    </p>

                  <br>
                    <div class="row text-center">

                        <div class="col-4">
                            <p style="font-weight: bold;font-size: 17px" class="gras" style="text-align:center">
                               <b> Le (La) Titulaire</b>
                            </p>
                        </div>
                        <div class="col-4">
                            {% if attestation.cycle == "UNIVERSITAIRE" %}
                            <p style="font-weight: bold;font-size: 17px" class="gras" style="text-align:center">
                                <b>Le Président</b>
                            </p>
                            {% elif attestation.cycle == "PROFESSIONNEL" %}
                            <p style="font-weight: bold;font-size: 17px" class="gras" style="text-align:center">
                                <b> Le Directeur Général </b>
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-4">
                            <p style="font-weight: bold;font-size: 14px">
                                <b>Le Ministre de l’Enseignement Supérieur<br> et de la Recherche Scientifique (MESRS)</b>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
       
    </ul>




        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

</body>
</html>