{% extends 'etudiants/dashboard/components/base.html' %}
{% load static %}
{% block content %}

<style>
    /* Styles généraux */
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }
    .tg td, .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border: 1px solid black;
        overflow: hidden;
        word-break: normal;
    }
    .tg .tg-6zfp, .tg .tg-z4m1 {
        font-weight: bold;
        background-color: #31b267;
        color: #ffffff;
        text-align: center;
    }

    /* Styles pour la sélection d'année */
    #annee_id option {
        font-size: 16px;
        font-weight: bold;
    }

    /* Styles d'impression */
    @media print {
        body * { display: none; }
        #to_print, #to_print * { display: block; }
    }
</style>

<div class="container">
    <div class="row g-5">
        <!-- Section sélection année académique -->
        <form action="#" method="GET">
            <div class="row">
                <div class="col-6">
                    <h6 class="showing-text">Sélectionnez l'année Académique</h6>
                </div>
                <div class="col-6">
                    <select name="edu-select" id="annee_id" class="form-control">
                        <option value="">Année Académique</option>
                        {% for annee in annees_academiques %}
                            <option value="{{ annee.id }}">{{ annee.debut }} - {{ annee.fin }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        <!-- Si aucun cursus trouvé -->
        {% if not found_cursus %}
        <div class="row g-5 row--45 mt-5">
            <div class="col-lg-6">
                <div class="edu-faq-gallery">
                    <div class="faq-thumbnail">
                        <img src="{% static 'etudiant/assets/images/others/faq-5.webp' %}" alt="Faq Images">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="edu-faq-content">
                    <h2 class="title">Aucun cours <span class="color-secondary">disponible</span></h2>
                    <p>Aucun cours n'est disponible pour vous pour le compte de cette Année Académique car vous n'étiez pas inscrit cette année-là. <br>
                        En cas d'erreur, contactez les administrateurs.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- Affichage des cours -->
        {% if cours_2 or cours %}
        <div class="edu-course-area">
            <div class="section-title section-center">
                <h4 class="title">Cours {{ cursus.filiere }} {{ cursus.niveau }}</h4>
            </div>

            <div class="row g-5">
                {% for cour in cours_2 %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="edu-course course-style-1">
                        <div class="inner">
                            <div class="thumbnail">
                                <a href="{{ cour.cours_url }}">
                                    <img src="{% static 'etudiant/assets/images/course/course-07.jpg' %}" alt="Course Meta">
                                </a>
                                <div class="time-top">
                                    <span class="duration"><i class="icon-61"></i>{{ cour.matiere.volume_horaire }} Heures</span>
                                </div>
                            </div>
                            <div class="content">
                                <span class="course-level">{{ cour.matiere }}</span>
                                <h6 class="title">
                                    <a href="{{ cour.cours_url }}">{{ cour.matiere }}</a>
                                </h6>
                                <ul class="course-meta">
                                    <li><i class="icon-25"></i>{{ cour.enseignant }}</li>
                                </ul>
                                <a href="{{ cour.cours_url }}" class="edu-btn btn-secondary btn-small">Ouvrir <i class="icon-4"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="edu-cta-banner-area bg-image">
                    <h2 class="title">Pas de cours <span class="color-secondary">pour le moment</span></h2>
                </div>
                {% endfor %}

                <div class="row g-5">
                    {% for cour in cours %}
                    <div class="col-md-6 col-lg-4 col-xl-3">
                        <div class="edu-course course-style-1">
                            <div class="inner">
                                <div class="thumbnail">
                                    <a href="{{ cour.cours_url }}">
                                        <img src="{% static 'etudiant/assets/images/course/course-07.jpg' %}" alt="Course Meta">
                                    </a>
                                    <div class="time-top">
                                        <span class="duration"><i class="icon-61"></i>{{ cour.volume_horaire }} Heures</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <span class="course-level">{{ cour.matiere }}</span>
                                    <h6 class="title">
                                        <a href="{{ cour.cours_url }}">{{ cour.matiere }}</a>
                                    </h6>
                                    <ul class="course-meta">
                                        <li><i class="icon-25"></i>{{ cour.enseignant }}</li>
                                    </ul>
                                    <a href="{{ cour.cours_url }}" class="edu-btn btn-secondary btn-small">Ouvrir <i class="icon-4"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="edu-cta-banner-area bg-image">
                        <h2 class="title">Pas de cours <span class="color-secondary">pour le moment</span></h2>
                    </div>
                    {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}
