{% extends 'etudiants/dashboard/components/base.html' %}

{% load static %}
{% block content %}

<style>
    /* Pour agrandir la taille des éléments */
    #annee_id option {
        font-size: 16px; /* Modifier la taille de police selon vos préférences */
    }
    
    /* Pour mettre les éléments en gras */
    #annee_id option {
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="row g-5">
        <div class="">
            <div class="">
                <div class="">
                    <form action="#" method="GET">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="showing-text">Sélectionnez l'année Académique</h6>
                            </div>
                            <div class="col-6">
                                <select name="edu-select" id="annee_id" class="form-control">
                                    <option value="">Année Académique</option>
                                    {% for annee in annees_academiques %}
                                        <option value="{{ annee.id }}">{{ annee.debut }} - {{ annee.fin }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

           
        </div>
        <div>
            
            {% if found_cursus == False  %}
            <br>
            <br>
            <div class="row g-5 row--45">
                <div class="col-lg-6">
                    <div class="edu-faq-gallery">
                        <div class="faq-thumbnail thumbnail-1 sal-animate" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
                            <img src="{% static 'etudiant/assets/images/others/faq-5.webp' %}" alt="Faq Images">
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="1.5" src="{% static 'etudiant/assets/images/faq/shape-35.png' %}" alt="Shape Images" style="transform: translate3d(-23.5px, -1.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-2 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="-2" src="{% static 'etudiant/assets/images/faq/shape-36.png' %}" alt="Shape Images" style="transform: translate3d(24.5px, 1.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-3">
                                <img src="{% static 'etudiant/assets/images/faq/shape-34.png' %}" alt="Shape Images">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                    <div class="edu-faq-content">
                        <div class="section-title section-left">
                            <span class="pre-title">Oups</span>
                            <h2 class="title">Aucun groupe  <span class="color-secondary">disponible </h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="faq-accordion" id="faq-accordion">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                            Pourquoi ai-je aucun groupe pour cette année ? 
                                        </button>
                                    </h5>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>Aucun groupe n'est disponible pour vous pour le compte de cette Année Académique car vous n'étiez pas inscris cette année là. <br>
                                                En cas d'erreur merci de contater les administrateurs
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="1.5" src="{% static 'etudiant/assets/images/about/shape-02.png' %}" alt="Shape Images" style="transform: translate3d(-41.9px, -2.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-2 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <span data-depth="-2.2" style="transform: translate3d(22.2px, 1.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            
            {% if classe is not none %}

            <div class="edu-course-area course-area-1 gap-tb-text">
                <div class="container">
                    <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <h4 class="title">Groupe d'étude  {{ classe.filiere }} {{ classe.niveau }}</h4>
                        <span class="shape-line"><i class="icon-19"></i></span>
                    </div>
    
                 
                    <div class="row g-5">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nom & Prénoms</th>
                                <th scope="col">E-mail</th>
                               
                              </tr>
                            </thead>
                            <tbody>
                                {% for etudiant in classe.effectifs %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{etudiant.etudiant}}</td>
                                    <td>{{etudiant.etudiant.utilisateur.email}}</td>
                                  
                                </tr>

                                <!-- End Single Course  -->
                                {% empty %}

                                  <div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
                                    <div class="container">
                                        <div class="edu-cta-banner">
                                            <div class="row justify-content-center">
                                                <div class="col-lg-7">
                                                    <div class="section-title section-center sal-animate" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                                        <h2 class="title">Pas de Membre <span class="color-secondary">Pour le moment</span> </h2>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="shape-group">
                                                <li class="shape-01 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                                    <img data-depth="2.5" src="{% static 'etudiant/assets/images/cta/shape-10.png' %}" alt="shape" style="transform: translate3d(-15.4px, -11.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                                </li>
                                                <li class="shape-02 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                                    <img data-depth="-2.5" src="{% static 'etudiant/assets/images/cta/shape-09.png' %}" alt="shape" style="transform: translate3d(12.9px, 3.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                                </li>
                                                <li class="shape-03 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                                    <img data-depth="-2" src="{% static 'etudiant/assets/images/cta/shape-08.png' %}" alt="shape" style="transform: translate3d(16.2px, 12.9px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                                </li>
                                                <li class="shape-04 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                                    <img data-depth="2" src="{% static 'etudiant/assets/images/about/shape-13.png' %}" alt="shape" style="transform: translate3d(-19.1px, -13.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                       
                      
                        
                    </div>
                </div>
            </div>
            {% endif %}  
        </div>
    </div>
</div>
{% endblock content %}
    