{% extends 'etudiants/dashboard/components/base.html' %}
{% load static %}
{% block content %}

<style>
    /* Pour agrandir la taille des éléments */
    #annee_id option {
        font-size: 16px; /* Modifier la taille de police selon vos préférences */
    }
    
    /* Pour mettre les éléments en gras */
    #annee_id option {
        font-weight: bold;
    }
</style>
<style type="text/css">
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

    .tg td {
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg th {
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        padding: 10px 5px;
        border-style: solid;
        border-width: 1px;
        overflow: hidden;
        word-break: normal;
        border-color: black;
    }

    .tg .tg-teh8 {
        background-color: #f3eec1;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-6zfp {
        font-weight: bold;
        background-color: #8db4e3;
        color: #000000;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-6dzw {
        background-color: #d2dae2;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-654s {
        font-weight: bold;
        background-color: #8800c9;
        color: #ffffff;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-qsz9 {
        background-color: #f3eec1;
        color: #000000;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-l660 {
        background-color: #d2dae2;
        color: #000000;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-dj9i {
        background-color: #8800c9;
        color: #ffffff;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-fzvx {
        background-color: #31b267;
        color: #ffffff;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-zkk0 {
        background-color: #f3eec1;
        color: #000000;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-gpzw {
        font-weight: bold;
        background-color: #8db4e3;
        color: #000000;
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

    .tg .tg-i31f {
        background-color: #8db4e3;
        border-color: inherit;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-7ye7 {
        background-color: #31b267;
        color: #ffffff;
        text-align: left;
        vertical-align: top
    }

    .tg .tg-z4m1 {
        font-weight: bold;
        background-color: #31b267;
        color: #ffffff;
        border-color: inherit;
        text-align: center;
        vertical-align: top
    }

    @media screen and (max-width: 767px) {
        .tg {
            width: auto !important;
        }

        .tg col {
            width: auto !important;
        }

        .tg-wrap {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
    }
</style>
<style>
    /* Styles pour l'impression */
    @media print {
        body * {
            display: none; /* Cacher tous les éléments du corps */
        }
        
        #to_print, #to_print * {
            display: block; /* Afficher uniquement le contenu de la div avec l'ID "to_print" */
        }
    }
</style>

<div class="container">
    <div class="row g-5">
        <div class="">
            <div class="">
                <div class="">
                    <form action="#" method="GET">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="showing-text">Sélectionnez l'année Académique</h6>
                            </div>
                            <div class="col-6">
                                <select name="edu-select" id="annee_id" class="form-control">
                                    <option value="">Année Académique</option>
                                    {% for annee in annees_academiques %}
                                        <option value="{{ annee.id }}">{{ annee.debut }} - {{ annee.fin }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

           
        </div>
        <div>
            
            {% if found_cursus == False  %}
            <br>
            <br>
            <div class="row g-5 row--45">
                <div class="col-lg-6">
                    <div class="edu-faq-gallery">
                        <div class="faq-thumbnail thumbnail-1 sal-animate" data-sal-delay="50" data-sal="slide-right" data-sal-duration="800">
                            <img src="{% static 'etudiant/assets/images/others/faq-5.webp' %}" alt="Faq Images">
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="1.5" src="{% static 'etudiant/assets/images/faq/shape-35.png' %}" alt="Shape Images" style="transform: translate3d(-23.5px, -1.5px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-2 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="-2" src="{% static 'etudiant/assets/images/faq/shape-36.png' %}" alt="Shape Images" style="transform: translate3d(24.5px, 1.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-3">
                                <img src="{% static 'etudiant/assets/images/faq/shape-34.png' %}" alt="Shape Images">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 sal-animate" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800">
                    <div class="edu-faq-content">
                        <div class="section-title section-left">
                            <span class="pre-title">Oups</span>
                            <h2 class="title">Aucune note <span class="color-secondary">disponible </h2>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
                        <div class="faq-accordion" id="faq-accordion">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <h5 class="accordion-header">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true">
                                            Pourquoi n'ai-je aucune note pour cette année ? 
                                        </button>
                                    </h5>
                                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#faq-accordion">
                                        <div class="accordion-body">
                                            <p>Aucune note n'est disponible pour vous pour le compte de cette Année Académique car vous n'étiez pas inscris cette année là. <br>
                                                En cas d'erreur merci de contater les administrateurs
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <ul class="shape-group">
                            <li class="shape-1 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <img data-depth="1.5" src="{% static 'etudiant/assets/images/about/shape-02.png' %}" alt="Shape Images" style="transform: translate3d(-41.9px, -2.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            </li>
                            <li class="shape-2 scene sal-animate" data-sal-delay="500" data-sal="fade" data-sal-duration="200" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                                <span data-depth="-2.2" style="transform: translate3d(22.2px, 1.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            
            {% if notes is not none %}

            <div id="to_print">

                <div class="edu-categorie-area categorie-area-2 edu-section-gap myDivToPrint">
                    <div class="container">
                        <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <h4 class="title">Evaluations {{ maquette.filiere }} {{ maquette.niveau }}</h4>
                            <span class="shape-line"><i class="icon-19"></i></span>
                        </div>
        
                        <div class="row">
        
                            
                            
                             <!--Maquette Debut-->
                <div class="vc_tta-container" data-vc-action="collapse">
        
                    <div class="vc_general vc_tta vc_tta-tabs vc_tta-color-grey vc_tta-style-classic vc_tta-shape-rounded vc_tta-spacing-1 vc_tta-tabs-position-top vc_tta-controls-align-left">
                       
                        <div class="vc_tta-panels-container">
                            <div class="vc_tta-panels">
                                
                               
                               {% if classe.classe_universitaire %}
    
                                <!--SMESTRE 1 -->
                                <div class="vc_tta-panel vc_active" id="1538448303275-ab753a9d-e184"
                                    data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title"><a href="#1538448303275-ab753a9d-e184" data-vc-accordiondata-vc-container=".vc_tta-container"><span class="vc_tta-title-text">SEMESTRE 1</span></a></h4>         
                                    </div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper">
                                        
                                                <div class="tg-wrap">
                                                    <table class="tg" style="width: 100%;">
                                                        <tr>
                                                            <th class="tg-654s">UNITE ENSEIGNEMENT</th>
                                                            <th class="tg-654s">MATIERE (ECUE) </th>
                                                            <th class="tg-654s">NOTE 1</th>
                                                            <th class="tg-654s">NOTE 2</th>
                                                            <th class="tg-654s">NOTE 3</th>
                                                            <th class="tg-654s">NOTE PARTIELLE</th>
                                                            <th class="tg-654s">MOYENNE</th>
                                                            
                                                            
                                                                </tr>
                                                                {% for note in notes %}
                                                                    
                                                                    {% if note.note.matiere.matiere.unite.semestre == "SEMESTRE 1" %}

                                                                    <tr>
                                                                        
                                                                        <td class="tg-l660"><span style="font-weight:700">  {{note.note.matiere.matiere.unite.nom | upper  }}</span></td>
                                                                        <td class="tg-zkk0"><span style="font-weight:bold">{{note.note.matiere.matiere | upper  }}</span></td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_1 %}{{note.note_1}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_2 %}{{note.note_2}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_3 %}{{note.note_3}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_partiel %}{{note.note_partiel}} {% else %} --- {% endif %}</td>
                                                                      
                                                                        <td class="tg-gpzw">{{note.moyenne}}</td>
                                                                    </tr>
                                                                        
                                                                    {% endif %}
                                                                        
                                                                {% endfor %}
                                                        
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                                <!--SMESTRE 2 -->
                                <div class="vc_tta-panel vc_active" id="1538448303275-ab753a9d-e184"
                                    data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title"><a href="#1538448303275-ab753a9d-e184" data-vc-accordiondata-vc-container=".vc_tta-container"><span class="vc_tta-title-text">SEMESTRE 2</span></a></h4>         
                                    </div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper">
                                        
                                                <div class="tg-wrap">
                                                    <table class="tg" style="width: 100%;">
                                                        <tr>
                                                            <th class="tg-654s">UNITE ENSEIGNEMENT</th>
                                                            <th class="tg-654s">MATIERE (ECUE) </th>
                                                            <th class="tg-654s">NOTE 1</th>
                                                            <th class="tg-654s">NOTE 2</th>
                                                            <th class="tg-654s">NOTE 3</th>
                                                            <th class="tg-654s">NOTE PARTIELLE</th>
                                                            <th class="tg-654s">MOYENNE</th>
                                                            
                                                            
                                                        </tr>
                                                                {% for note in notes %}
                                                                    
                                                                    {% if note.note.matiere.matiere.unite.semestre == "SEMESTRE 2" %}

                                                                    <tr>
                                                                        
                                                                        <td class="tg-l660"><span style="font-weight:700">  {{note.note.matiere.matiere.unite.nom | upper  }}</span></td>
                                                                        <td class="tg-zkk0"><span style="font-weight:bold">{{note.note.matiere.matiere | upper  }}</span></td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_1 %}{{note.note_1}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_2 %}{{note.note_2}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_3 %}{{note.note_3}} {% else %} --- {% endif %}</td>
                                                                        <td class="tg-zkk0">{% if note.note.use_note_partiel %}{{note.note_partiel}} {% else %} --- {% endif %}</td>
                                                                      
                                                                        <td class="tg-gpzw">{{note.moyenne}}</td>
                                                                    </tr>
                                                                        
                                                                    {% endif %}
                                                                        
                                                                {% endfor %}
                                                      
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            <!-- FIN SMESTRE 2 -->
    
                            {% else %}
    
                             <!--SMESTRE 1 -->
                             <div class="vc_tta-panel vc_active" id="1538448303275-ab753a9d-e184"
                             data-vc-content=".vc_tta-panel-body">
                             <div class="vc_tta-panel-heading">
                                 <h4 class="vc_tta-panel-title"><a href="#1538448303275-ab753a9d-e184" data-vc-accordiondata-vc-container=".vc_tta-container"><span class="vc_tta-title-text">SEMESTRE 1</span></a></h4>         
                             </div>
                             <div class="vc_tta-panel-body">
                                 <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                     <div class="wpb_wrapper">
                                 
                                         <div class="tg-wrap">
                                             <table class="tg" style="width: 100%;">
                                                 <tr>
                                                   
                                                            <th class="tg-654s">MATIERE </th>
                                                            <th class="tg-654s">NOTE 1</th>
                                                            <th class="tg-654s">NOTE 2</th>
                                                            <th class="tg-654s">NOTE 3</th>
                                                            <th class="tg-654s">NOTE PARTIELLE</th>
                                                            <th class="tg-654s">MOYENNE</th>
                                                     
                                                 </tr>
                                                 {% for note in notes %}
                                                                    
                                                 {% if note.note.matiere.matiere.unite.semestre == "SEMESTRE 1" %}

                                                 <tr>
                                                     
                                                    
                                                     <td class="tg-zkk0"><span style="font-weight:bold">{{note.note.matiere.matiere | upper  }}</span></td>
                                                     <td class="tg-zkk0">{% if note.note.use_note_1 %}{{note.note_1}} {% else %} --- {% endif %}</td>
                                                     <td class="tg-zkk0">{% if note.note.use_note_2 %}{{note.note_2}} {% else %} --- {% endif %}</td>
                                                     <td class="tg-zkk0">{% if note.note.use_note_3 %}{{note.note_3}} {% else %} --- {% endif %}</td>
                                                     <td class="tg-zkk0">{% if note.note.use_note_partiel %}{{note.note_partiel}} {% else %} --- {% endif %}</td>
                                                   
                                                     <td class="tg-gpzw">{{note.moyenne}}</td>
                                                 </tr>
                                                     
                                                 {% endif %}
                                                     
                                             {% endfor %}
                                            
                                             </table>
                                         </div>
                                     </div>
                                 </div>
                             </div>
    
                         </div>
                         <!--SMESTRE 2 -->
                         <div class="vc_tta-panel vc_active" id="1538448303275-ab753a9d-e184"
                             data-vc-content=".vc_tta-panel-body">
                             <div class="vc_tta-panel-heading">
                                 <h4 class="vc_tta-panel-title"><a href="#1538448303275-ab753a9d-e184" data-vc-accordiondata-vc-container=".vc_tta-container"><span class="vc_tta-title-text">SEMESTRE 2</span></a></h4>         
                             </div>
                             <div class="vc_tta-panel-body">
                                 <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                     <div class="wpb_wrapper">
                                 
                                         <div class="tg-wrap">
                                            <table class="tg" style="width: 100%;">
                                                <tr>
                                                  
                                                           <th class="tg-654s">MATIERE </th>
                                                           <th class="tg-654s">NOTE 1</th>
                                                           <th class="tg-654s">NOTE 2</th>
                                                           <th class="tg-654s">NOTE 3</th>
                                                           <th class="tg-654s">NOTE PARTIELLE</th>
                                                           <th class="tg-654s">MOYENNE</th>
                                                    
                                                </tr>
                                                {% for note in notes %}
                                                                   
                                                {% if note.note.matiere.matiere.unite.semestre == "SEMESTRE 2" %}

                                                <tr>
                                                    
                                                   
                                                    <td class="tg-zkk0"><span style="font-weight:bold">{{note.note.matiere.matiere | upper  }}</span></td>
                                                    <td class="tg-zkk0">{% if note.note.use_note_1 %}{{note.note_1}} {% else %} --- {% endif %}</td>
                                                    <td class="tg-zkk0">
                                                        {% if note.note.use_note_2 %}
                                                            {% if note.note_2 < 10 %}
                                                                <span style="color: red;">{{ note.note_2 }}</span>
                                                            {% else %}
                                                                <span style="color: green;">{{ note.note_2 }}</span>
                                                            {% endif %}
                                                        {% else %}
                                                            ---
                                                        {% endif %}
                                                    </td>
                                                    <td class="tg-zkk0">{% if note.note.use_note_3 %}{{note.note_3}} {% else %} --- {% endif %}</td>
                                                    <td class="tg-zkk0">{% if note.note.use_note_partiel %}{{note.note_partiel}} {% else %} --- {% endif %}</td>
                                                  
                                                    <td class="tg-gpzw">{{note.moyenne}}</td>
                                                </tr>
                                                    
                                                {% endif %}
                                                    
                                            {% endfor %}
                                           
                                            </table>
                                         </div>
                                     </div>
                                 </div>
                             </div>
    
                         </div>
                     <!-- FIN SMESTRE 2 -->
                                
                               {% endif %}
                                
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            </div>

            {% endif %}
                
                
        </div>
    </div>
</div>

{% endblock content %}
    