{% extends 'etudiants/dashboard/components/base.html' %}

{% load static %}
{% block content %}

<section class="edu-section-gap contact-form-area">
    <div class="container">
        <div class="row justify-content-center">
            {% if form %}

            {% if form.errors %}
            <div class="alert alert-danger" id="myAlerted">
                <strong>Oops! Il y a des erreurs :</strong>
                <ul>
                    {% for field in form %}
                        {% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %} 
         
        {% endif %}

        {% if messages %}
        <br>
        {% for message in messages %}
            <div class="container alert {% if message.tags %}{{ message.tags }}{% endif %}" id="myAlert" role="alert">
                {{ message }}
            </div>
        {% endfor %} 
    {% endif %}
            <div class="col-lg-8">
                <div class="contact-form">
                    <div class="section-title section-center">
                        <h3 class="title">Modifier mon mot de passe</h3>
                    </div>
                    <form class="rnt-contact-form" id="" method="POST" action="{% url 'student_password' %}">
                        {% csrf_token %}
                        <div class="row row--10">
                            <div class="form-group col-lg-6">
                                <input type="password" name="old_password" id="old_password_id" placeholder="Ancien mot de passe">
                            </div>
                            <div class="form-group col-lg-6">
                                <input type="password" name="new_password1" id="new_password1" placeholder="Nouveau Mot de passe">
                            </div>
                            <div class="form-group col-12">
                                <input type="password" name="new_password2" id="new_password2" placeholder="Confirmez le nouveau mot de passe">
                            </div>

                            <div class="custom-control custom-checkbox text-left">
                                <input type="checkbox" onclick="myFunction()" class="custom-control-input" id="rememberme">
                                <label class="custom-control-label font-14" for="rememberme">Afficher le mot de passe</label>
                              </div> 
                          
                            <div class="form-group col-12 text-center">
                                <button class="rn-btn edu-btn submit-btn" name="submit" type="submit">Modifier<i class="icon-4"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><img data-depth="-2" src="{% static 'etudiant/assets/images/about/shape-15.png' %}" alt="shape" style="transform: translate3d(-7.3px, -0.3px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></li>
        <li class="shape-2 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><img data-depth="2" src="{% static 'etudiant/assets/images/cta/shape-04.png' %}" alt="shape" style="transform: translate3d(7.6px, 0.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></li>
        <li class="shape-3 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><span data-depth="1" style="transform: translate3d(17.1px, 1.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></span></li>
        <li class="shape-4 scene" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;"><img data-depth="-2" src="{% static 'etudiant/assets/images/about/shape-13.png' %}" alt="shape" style="transform: translate3d(-13.4px, -1.2px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;"></li>
    </ul>
</section>

<script>
    function myFunction() {
        var x = document.getElementById("old_password_id");
        var y = document.getElementById("new_password1");
        var z = document.getElementById("new_password2");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
        if (y.type === "password") {
          y.type = "text";
        } else {
          y.type = "password";
        }
        if (z.type === "password") {
          z.type = "text";
        } else {
          z.type = "password";
        }
      }
</script>
{% endblock content %}
    