{% extends 'auths/components/base.html' %}
{% load static %}


{% block content %}

<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
    <div class="form-head">
        <a href="#" class="logo"><img src="{% static 'administration/assets/images/logo.png' %}" class="img-fluid" alt="logo"></a>
    </div>                                        
    <h4 class="text-primary my-4" style="color: rgb(9, 9, 53);">Modification Reussie</h4>

    <div class="form-group">
        <center>
            Le mot de passe a été reinitialisé avec success<br>Merci de vous connecter avec votre nouveau mot de passe
        </center>
    </div>
   
    <center>
        <a id="forgot-psw" href="{% url 'login' %}" class="btn btn-success btn-lg btn-block font-18">Connexion</a>
    </center>                        
  
</form>
    
{% endblock content %}
    