{% extends 'auths/components/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

{% if form %}
<form method="POST">
    {% csrf_token %}
    <div class="form-head">
        <a href="#" class="logo"><img src="{% static 'administration/assets/images/logo.png' %}" class="img-fluid" alt="logo"></a>
    </div>                                        
    <h4 class="text-primary my-4" style="color: rgb(9, 9, 53);" >Modifier le mot de passe</h4>

    {{form | crispy }}
    <div class="form-row mb-3">
        <div class="col-sm-6">
            <div class="custom-control custom-checkbox text-left">
              <input type="checkbox" onclick="myFunction()" class="custom-control-input" id="rememberme">
              <label class="custom-control-label font-14" for="rememberme">Afficher les mot de passe</label>
            </div>                         
        </div>
    </div>                          
  <button type="submit" class="btn btn-success btn-lg btn-block font-18">Modifier</button>
</form>

{% else %}
<div class="row">
    <h3>Oups !!! <br>  Le lien n'est plus valide</h3>

             <br>      
             <br>      
             <br>                         
    <center>
     <p>
         <a href="{% url 'password_reset' %}">Recommencer</a>
     </p>
    </center>
</div>
{% endif %}
{% endblock content %}
    