{% extends 'auths/components/base.html' %}
{% load static %}


{% block content %}

<form action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}
    <div class="form-head">
        <a href="#" class="logo"><img src="{% static 'administration/assets/images/logo.png' %}" class="img-fluid" alt="logo"></a>
    </div>                                        
    <h4 class="text-primary my-4" style="color: rgb(9, 9, 53);">Reinitialisation de Mot de Passe</h4>

    <div class="form-group">
        <input type="email" class="form-control"  type='email' id="id_email" name="email" inputmode="email"   placeholder="student@iipea.com" required>
    </div>
   
                           
  <button type="submit" class="btn btn-success btn-lg btn-block font-18">Reinitialiser</button>
</form>
<div class="login-or">
    <h6 class="text-muted">OR</h6>
</div>

<p class="mb-0 mt-3">J'ai mes identifiants  ?  <a href="{% url 'login' %}">Connexion</a></p>
    
{% endblock content %}
    