{% extends 'etudiants/dashboard/components/base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="section-title section-center" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <h2 class="title">{{titre}}</h2>
        <span class="shape-line"><i class="icon-19"></i></span>
        <p>Sélectionnez la rubrique à laquelle vous souhaitez accéder</p>

    </div>

    <div class="row g-5">

        <div class="col-lg-6 col-md-6" data-sal-delay="50" data-sal="slide-up" data-sal-duration="800" onclick="window.location.href='{% url 'student_lignes' %}'">
            <div class="categorie-grid categorie-style-2 color-primary-style edublink-svg-animate">
                <div class="icon">
                    <i class="icon-24"></i>
                </div>
                <div class="content">
                    <a href="{% url 'student_lignes' %}">
                        <h5 class="title">Les Lignes</h5>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6" data-sal-delay="100" data-sal="slide-up" data-sal-duration="800" onclick="window.location.href='{% url 'student_abonnements' %}'">
            <div class="categorie-grid categorie-style-2 color-secondary-style">
                <div class="icon">
                    <i class="icon-10 art-design"></i>
                </div>
                <div class="content">
                    <a href="{% url 'student_abonnements' %}">
                        <h5 class="title">Mes Abonnements</h5>
                    </a>
                </div>
            </div>
        </div>

       

    </div>
</div>
    
{% endblock content %}
    