{% extends 'etudiants/dashboard/components/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}

<style>
    /* Pour agrandir la taille des éléments */
    #annee_id option {
        font-size: 16px; /* Modifier la taille de police selon vos préférences */
    }
    
    /* Pour mettre les éléments en gras */
    #annee_id option {
        font-weight: bold;
    }
</style>


{% for etudiant in classe.effectifs  %}

<div class="container-fluid">
         

               <div class="" id="to_print" style="background-color: white;">

                <div class="sa4d25">
                    <div class="" style="background-color:transparent">
                
                           <!-- Invoice card start -->
                           <div class="card myDivToPrint" id="contenu_{{cursus.id}}"  style="background-color:transparent" >
                
                            <div class="card-block contenu" style="background-color: transparent;">
                                
                                <div class="container-fluid">
                                    <br>
                                    <div class="same-line">
                                        <div class="on-the-left" style="float: left">
                                            <strong style="color: black;">MINISTERE DE L'ENSEIGNEMENT SUPERIEUR<br>ET DE LA RECHERCHE SCIENTIFIQUE</strong>
                                        </div>
                                        <div class="on-the-right" style="float: right">
                                            <strong style="color: black;">REPUBLIQUE DE CÔTE D'IVOIRE<br>Union - Discipline - Travail</strong>
                                        </div>
                                    </div>
                                </div>
                             
                                <div class="same-line">
                                    <div class="on-the-center">
                                        <h3>
                                            <center>
                                                <br>
                                                <img src="{{user.etudiant.etablissement.logo.url}}" width="150px">
                                                <br>
                                                <br>
                                              
                                                <strong>{{user.etudiant.etablissement.full_name}}</strong>
                                            </center>
                                        </h3>
                                        <center>
                                            <hr style="width: 70%; border-color: black">
                                        </center>
                                    </div>
                                </div>
                               
                                <div class="same-line" style="border: 2px solid black; border-radius: 5px; padding-left: 5px; margin-right: 5%; margin-left: 5%; padding-top: 5px;">
                                    <h3><strong> <center>
                                        
                                        {% if name == "INSCRIPTION" %}
                                        FICHE D'INSCRIPTION
                                        {% else %}
                                        CERTIFICAT DE {{name}}
                                        {% endif %}
                                            
                                    </center> </strong></h3>
                                </div>
                                <p>&nbsp;</p>
                
                            <div class="container-fluid">
                                <div class="same-line">
                                   <div class="row">
                                    <div class="col-12">
                                        <div class="on-the-left">
                                            <font  size="3px"><strong>ANNEE UNIVERSITAIRE :  {{cursus.annee_academique}}</strong> </font>
                                        </div>
                                    </div>
                                   </div>
                                </div>
                              
                                <div>
                                    <br>
                                          <div class="row">
                                           
                                            <font size="4px"><strong>Nous certifions que, </strong></font><br><br>
                                            <div class="col-10">
                                                <table class="table table-responsive invoice-table invoice-order table-borderless" style="border-collapse: collapse;">
                                                    <tbody>
                                                <tr>
                                                    <th>Etudiant(e) :</th>
                                                    <th><strong>{{cursus.etudiant }}</strong></th>
                                                </tr>
                                                <tr>
                                                    <th>Né(e) le :</th>
                                                    <th>
                                                        <strong>{{cursus.etudiant.date_de_naissance |date:'d-m-Y' }}</strong>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Matricule :</th>
                                                    <th>
                                                        <strong>{{cursus.etudiant.matricule | upper  }}</strong>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Elites-ID :</th>
                                                    <th>
                                                        <strong>{{cursus.etudiant.code_paiement | upper  }}</strong>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Filière :</th>
                                                    <th>
                                                        <strong>{{cursus.filiere | upper }} ({{cursus.filiere.sigle | upper }})</strong>
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th>Niveau :</th>
                                                    <th><strong>{{cursus.niveau | upper }} </strong>
                                                </tr>
                                                <tr>
                                                    <th>Status :</th>
                                                    <th><strong>{{cursus.etudiant.type_etudiant | upper }}</strong> 
                                                </tr>
                                             </tbody>
                                                </table>
                                            </div>
                                            <div class="col-2">
                                                <img src="{{user.etudiant.photo.url}}" width="150px">
                                            </div>
                                          </div>
                                  
                
                                    <div class="dt-responsive table-responsive">
                                       
                                       {% if name == "INSCRIPTION" %}
                                       <table class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr style="background-color: #ffdb99; height: 20px; font-size:15px; text-align: center; font-weight: bold;">
                                                
                                                <th style="border: 1px solid black;">Source</th>
                                                <th style="border: 1px solid black;">Montant </th>
                                                <th style="border: 1px solid black;">Date </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for data in cursus.paiements %}
                                            <tr style="">
                                               
                                                <td style="border: 1px solid black;">{{data.source | upper }}</td>
                                                <td style="border: 1px solid black;">{{data.montant | intcomma }} FCFA</td>
                                                <td style="border: 1px solid black;">{{data.created |date:'d-m-Y' }}</td>
                                            </tr>
                                            {% endfor %}
                                            
                                            <tr style="height: 20px; font-size:15px; text-align: center; font-weight: bold;">
                                                <th style="background-color: #ffdb99; border: 1px solid black;">Montant Scolarité </th>
                                                <th style="border: 1px solid black;">{{cursus.frais | intcomma }} FCFA</th>
                                            </tr>
                                            <tr style="height: 20px; font-size:15px; text-align: center; font-weight: bold;">
                                                <th style="background-color: #ffdb99; border: 1px solid black;">Montant Payé </th>
                                                <th style="border: 1px solid black;">{{cursus.paye | intcomma }} FCFA</th>
                                            </tr>
                                            <tr style="height: 20px; font-size:15px; text-align: center; font-weight: bold;">
                                                <th style="background-color: #ffdb99; border: 1px solid black;">Reste à Payer </th>
                                                <th style="border: 1px solid black;"><b>{{cursus.reste | intcomma }} FCFA</b></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                       {% else %}
                                       <table class="table table-striped table-bordered nowrap">
                                        <thead>
                                            <tr style="background-color: #ffdb99; height: 20px; font-size:15px; text-align: center; font-weight: bold;">
                                                <th style="border: 1px solid black;">Année Academique </th>
                                                <th style="border: 1px solid black;">Filière </th>
                                                <th style="border: 1px solid black;">Niveau </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% if user.etudiant.last_class.niveau.nom == "BTS 2" %}
                                            <tr style="">
                                             <td style="border: 1px solid black;">RENTREE SEMESTRIELLE 2022 - 2023 </td>
                                             <td style="border: 1px solid black;">{{user.etudiant.last_class.filiere | upper }}</td>
                                             <td style="border: 1px solid black;">BTS 1</td>
                                             </tr>
                                            {% endif %}
                                            {% for data in datas %}
                                            <tr style="">
                                                <td style="border: 1px solid black;">RENTREE SEMESTRIELLE {{data.annee_academique}}</td>
                                                <td style="border: 1px solid black;">{{data.filiere | upper }}</td>
                                                <td style="border: 1px solid black;">{{data.niveau | upper }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                       {% endif %}
                                        
                                    </div>    
                                </div>
                
                                <p style="color: black;" size="1px">est régulièrement inscrit(e) au titre de l'année académique {{cursus.annee_academique.debut}} - {{cursus.annee_academique.fin}} 
                                    en {{cursus.niveau}} {{cursus.filiere}} , en foi de quoi ce document est édité pour servir et valoir ce que de Droit.</p>
                               
                                <div class="row">
                                    <div class="col-6">
                                        <img src="https://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{cursus.etudiant.code_paiement}}" width="150px" />
                                        <br>
                                        <br>
                                        <strong style="color: black;"> Fait Abidjan le {{cursus.created}}</strong> <br><br>
                                    </div>
                                    <div class="col-6" >
                                        <img style="float: right;" src="{{user.etudiant.etablissement.cachet_scolarite.url}}" width="170px" />
                                        <br>
                                        
                                    </div>
                                    <div class="row">
                                        <strong style="color: black;text-align: right;">La Sous-Direction de la Scolarité,<br> des Services Juridiques et de la Communication</strong><br>
                                    </div>
                                </div>
                                <p>&nbsp;</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            
       
                
        </div>
    </div>
</div>

{% endfor %}

{% endblock content %}
    