{% extends 'administration/uses/ blank.html' %}
{% load static %}


{% block page %}

<style>
    .error { color: red; }
</style>

<!-- Start Contentbar -->    
<div class="contentbar">                
    <!-- Start row -->
    <div class="row">
        <!-- Start col -->
        <div class="col-lg-12">
            <div class="card m-b-30">
                
                <div class="card-body">

                    <button type="button" style="float:right" class="btn btn-primary open-popup" data-toggle="modal" data-target="#classeModal">
                        <span class="ti-plus"></span> NOUVELLE CLASSE
                    </button>
                    <br>
                    <h6 class="card-subtitle">Exportez les données vers Copy, CSV, Excel & Note.</h6>
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                              
                                <th>Nom</th>
                                <th>Filière</th>
                                <th>Niveau</th>
                                <th>Cycle</th>
                                <th>Budget</th>
                                <th>Année Académique</th>
                                <th>Etudiants</th>
                                <th>Progression</th>
                             
                                <th>Actions</th>
                               
                            </tr>
                            </thead>
                            
                            <tbody>
                           
                            
                            {% for classe in classes  %}

                            <tr>
                              
                                <td>{{classe}}</td>
                                <td>{{classe.filiere}}</td>
                                <td>{{classe.niveau}}</td>
                                <td>{{classe.cycle}}</td>
                                <td>{{classe.cout_global}}</td>
                                <td><b>{{classe.annee_academique}}</b></td>
                                <td>{{classe.nb_etudiant}}</td>
                                <td>{{classe.progression}}%</td>
                             
                                <td style="white-space: nowrap; width: 15%;">
                                    <div class="tabledit-toolbar btn-toolbar">
                                    <div class="btn-group btn-group-sm" style="float: none;">
                                        <a type="button" href="{{classe.url}}" class="tabledit-save-button btn btn-sm btn-info" style="float: none; margin: 5px;"><span class="ti-eye"></span> VOIR LES DONNEES</a>
                                       
                                       
                                       {% if user.can_add_note %}
                                       <a type="button"  href="{% url 'create_note' pk=classe.pk %}" class="tabledit-save-button btn btn-sm btn-primary" style="float: none; margin: 5px;"><span class="ti-pencil"></span> NOUVELLE NOTE</a>
                                  
                                       {% endif %}

                                       {% if classe.closed %}
                                       <a type="button"  href="{% url 'toggle_classe_status' classe_id=classe.pk %}" class="tabledit-save-button btn btn-sm btn-success" style="float: none; margin: 5px;"><span class="ti-pencil"></span> OUVRIR LA CLASSE</a>
                                        {% else %}
                                        <a type="button"  href="{% url 'toggle_classe_status' classe_id=classe.pk %}" class="tabledit-save-button btn btn-sm btn-danger" style="float: none; margin: 5px;"><span class="ti-pencil"></span> FERMER LA CLASSE</a>
                                       {% endif %}
                                        
                                         </div>

                                    
                                   </div>
                                </td>
                            </tr>
                                
                            {% endfor %}
                                
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End col -->
    </div>
    <!-- End row -->
</div>

<div class="modal fade" id="classeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nouvelle Classe</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock page %}
    