{% extends 'administration/uses/ blank.html' %}
{% load static %}


{% block page %}

<style>
    /* Styles par défaut pour l'affichage à l'écran */
    .alert {
        background-color: #ff4c4c;
        color: white;
        padding: 15px;
        margin: 20px 0;
        border-radius: 5px;
        display: flex;
        align-items: center;
        font-family: Arial, sans-serif;
    }
    .alert-icon {
        margin-right: 10px;
    }
    .alert-text {
        flex: 1;
    }

    /* Styles pour l'impression */
    @media print {
        .alert {
            background-color: #ff4c4c; /* Couleur de fond rouge */
            color: white; /* Couleur du texte blanc */
            padding: 15px; /* Espacement */
            margin: 20px 0; /* Marge */
            border-radius: 5px; /* Coins arrondis */
            display: flex; /* Flexbox */
            align-items: center; /* Alignement */
            font-family: Arial, sans-serif; /* Police */
        }
        .alert-icon {
            margin-right: 10px; /* Marge à droite de l'icône */
        }
        .alert-text {
            flex: 1; /* Prend tout l'espace disponible */
        }

        /* Masquer d'autres éléments si nécessaire */
        body {
            -webkit-print-color-adjust: exact; /* Forcer l'impression des couleurs */
            print-color-adjust: exact; /* Pour les autres navigateurs */
        }
    }
</style>

<!-- Start Contentbar -->    
<div class="contentbar">  
   
                <!-- End row -->
                <div class="row justify-content-center">
                    <!-- Start col -->
                    <div class="col-md-12 col-lg-10 col-xl-10">
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="invoice">
                                    <div class="invoice-head">
                                        <div class="row">
                                            <div class="col-12 col-md-7 col-lg-7">
                                                <div class="invoice-logo">
                                                    <h3>{{etudiant.etablissement}}</h3>
                                                </div>
                                                <h4>{{etudiant.etablissement.email}}</h4>
                                                 <p>{{etudiant.etablissement.contact}}</p>
                                                <p class="mb-0"></p>
                                            </div>
                                            <div class="col-12 col-md-5 col-lg-5">
                                                <div class="invoice-name">
                                                    <span class="badge badge-info-inverse font-14"><h3>{{etudiant.code_paiement}}</h3></span>
                                                    <br>
                                                    <br>
                                                    <p class="mb-0">Inscrit depuis le : {{etudiant.created}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="invoice-billing">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <div class="invoice-address">
                                                    <h4 class="mb-3">Informations de base</h4>
                                                    <h6 class="text-muted">Nom : {{etudiant.nom }}</h6>
                                                    <ul class="list-unstyled">
                                                        <li>Prénom(s) : {{etudiant.prenom}}</li> 
                                                        <li>Status : {{etudiant.type_etudiant}}</li>  
                                                        <li>Etablissement d'origine : {{etudiant.etablissement_d_origine}}</li> 
                                                        <li>Date Naissance : {{etudiant.date_de_naissance}}</li> 
                                                        <li>Lieu Naissance : {{etudiant.lieu_de_naissance}}</li> 
                                                        <li>Matricule Mers : {{etudiant.matricule_mers}}</li> 
                                                        <li>Numéro de Table Bac : {{etudiant.numero_table_bac}}</li> 
                                                       
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-4 col-lg-4">
                                                <div class="invoice-address">
                                                    <ul class="list-unstyled">
                                                        <li>Nationalité : {{etudiant.nationalite.name }}</li> 
                                                        <li>Matricule : {{etudiant.matricule}}</li> 
                                                        <li>Lieu de Residence : {{etudiant.lieu_de_residence}}</li> 
                                                        <li>Sexe : {{etudiant.sexe}}</li> 
                                                        <li>Serie du Bac : {{etudiant.serie_bac}}</li> 
                                                        <li>Contact : {{etudiant.contact}}</li> 
                                                        <li>Contact Parent : {{etudiant.contactparent}}</li> 
                                                        <br>
                                                        <li>Code Unique de paiement : <b><p class="mb-3"><span class="badge badge-info-inverse font-14">{{etudiant.code_paiement}}</span></p></b> </li>    
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                <div class="invoice-address">
                                                    <div class="card">
                                                        <div class="card-body bg-info-rgba text-center">
                                                           {% if etudiant.photo.url %}
                                                           <img style="border-radius: 100%;" height="200px" src="{{etudiant.photo.url}}" alt="{{etudiant}}">
                                                            {% else %}
                                                            <p class="mb-3"><span class="badge badge-info-inverse font-14">Aucune Photo Ajoutéé</span></p>
                                                           {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="invoice-meta">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="invoice-meta-box">
                                                        <h4 class="mb-3">Accès Etudiant</h4>
                                                        <ul class="pl-3">
                                                            <li style="font-size: large;color:black"><i class="feather icon-mail mr-2"> </i>E-mail : {{etudiant.utilisateur.email}}</li>  
                                                            <li style="font-size: large;color:black"><i class="feather icon-lock mr-2"> </i>Mot de passe : @elites@</li>  
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        <h5 class="mb-3">Filière :  <b>{{scolarite.filiere}} | Niveau :  {{scolarite.niveau}}</b></h5>
                                        <h5 class="mb-3">Classe :  <b>({{scolarite.classe}})</b></h5>
                                        <hr>
                                        <h5 class="mb-3">Historique des Paiements Année Académique <b>({{scolarite.annee_academique}})</b></h5>
                                    </div>  
                                   
                                    <div class="invoice-summary">
                                       
                                        <div class="table-responsive ">
                                            <table class="table table-borderless">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">ID</th>                       
                                                        <th scope="col">Banque</th>
                                                        <th scope="col">Réference</th>
                                                        <th scope="col">Date</th>
                                                        <th scope="col">Montant</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                   
                                                    {% for paiement in paiements %}
                                                    <tr>
                                                        <th scope="row">{{ forloop.counter }}</th>
                                                        <td>{{ paiement.source }}</td>
                                                        <td>
                                                            {% if user.is_program_manger_for_online_courses %}
                                                            <form method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="paiement_id" value="{{ paiement.id }}">
                                                                
                                                                <div class="form-row">
                                                                    <div class="form-group col-md-2">
                                                                        <label for="reference">Référence</label>
                                                                        <input type="text" name="reference" value="{{ paiement.reference }}" class="form-control" id="reference">
                                                                    </div>
                                                            
                                                                    <div class="form-group col-md-2">
                                                                        <label for="montant">Montant</label>
                                                                        <input type="text" name="montant" value="{{ paiement.montant }}" class="form-control" id="montant">
                                                                    </div>
                                                            
                                                                    <div class="form-group col-md-2">
                                                                        <label for="source">Source</label>
                                                                        <input type="text" name="source" value="{{ paiement.source }}" class="form-control" id="source">
                                                                    </div>
                                                            
                                                                    <div class="form-group col-md-2">
                                                                        <label for="effectue_par">Effectué par</label>
                                                                        <input type="text" name="effectue_par" value="{{ paiement.effectue_par }}" class="form-control" id="effectue_par">
                                                                    </div>
                                                            
                                                                    <div class="form-group col-md-2">
                                                                        <label for="created">Date et Heure de création</label>
                                                                        <input type="datetime-local" name="created" value="{{ paiement.created|date:'Y-m-d\TH:i' }}" class="form-control" id="created">
                                                                    </div>
                                                            
                                                                    <div class="form-group col-md-2">
                                                                        <label for="active">Actif</label>
                                                                        <input type="checkbox" name="active" {% if paiement.active %}checked{% endif %} id="active">
                                                                    </div>
                                                                </div>
                                                                
                                                                <!-- Bouton de soumission -->
                                                                <button type="submit" class="btn btn-primary">Sauvegarder</button>
                                                            </form>
                                                            
                                                            
                                                            {% else %}
                                                                {{ paiement.reference }}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ paiement.created }}</td>
                                                        <td>{{ paiement.montant }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                    
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="invoice-summary-total">
                                        <div class="row">
                                            <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                                                <div class="order-note">
                                                    <p class="mb-3"><span class="badge badge-info-inverse font-14"></span></p>
                                                    <h6></h6>
                                                    <p></p>
                                                </div>
                                            </div>
                                            <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                <div class="order-total table-responsive ">
                                                    <table class="table table-borderless text-right">
                                                        <tbody>
                                                            <tr>
                                                                <td>Montant de la scolarité:</td>
                                                                <td>{{scolarite.frais}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Montant Payé:</td>
                                                                <td>{{scolarite.paye}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td class="f-w-7 font-18"><h5>Reste à Payer :</h5></td>
                                                                <td class="f-w-7 font-18"><h5>{{scolarite.reste}}</h5></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {% if not etudiant.last_class.dossier_complet %}

                                        <div class="alert-dossier">
                                            <div class="alert-icon">⚠️</div>
                                            <div class="alert-text">
                                                <strong>
                                                    <p style="font-size: large;color:black">
                                                        Votre dossier d'inscription n'est pas complet</strong>. Il vous manque le(s) document(s) suivant :  <br>
                                                    </p>
                                               <p>
                                                {% if not etudiant.last_class.extrait %}- 02 Extraits de naissance originaux<br>{% endif %}
                                                {% if not etudiant.last_class.piece %}- 02 Copies CNI / PASSEPORT / Attetstation d'identité / Carte de séjour<br>{% endif %}
                                                {% if not etudiant.last_class.bac %}- 02 Copies légalisé du dernier diplôme obtenu<br>{% endif %}
                                                {% if not etudiant.last_class.photo %}- 04 Photo d'identité de même tirage<br>{% endif %}
                                                
                                               </p>

                                               <p style="font-size: large;color:black">
                                                Merci de bien vouloir fournir ces éléments dans un délai de 48 heures faute de quoi votre inscription sera invalidée.
                                                </p>
                                                
                                            </div>
                                        </div>
                                        {% endif %}

                                    <div class="invoice-footer">
                                        <div class="row align-items-center">
                                            <div class="col-md-6">

                                                <p class="mb-0">{{etudiant.etablissement.code }} vous remercie </p><p id="currentDate"></p>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="invoice-footer-btn">
                                                    <a href="javascript:window.print()" class="btn btn-primary-rgba py-1 font-16"><i class="feather icon-printer mr-2"></i>Imprimer</a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End row -->
            </div>
            <!-- End Contentbar -->
           
    
{% endblock page %}
    