{% extends 'administration/uses/ blank.html' %}
{% load static %}

{% block page %}

<!-- Start Contentbar -->    
<div class="contentbar">                
    <!-- Start row -->
    <div class="row">
        <!-- Start col -->
        <div class="col-lg-12">
            <div class="card m-b-30">
                
                <div class="card-body">
                    <h6 class="card-subtitle">Exportez les données vers Copy, CSV, Excel & Note.</h6>
                    <div class="table-responsive">
                        <table id="datatable-buttons" class="table table-striped table-bordered">
                            <thead>
                            <tr>

                                
                                <th>ID</th>
                                <th>CODE ENSEIGNANT</th>
                                <th>ENSEIGNANT</th>
                                <th>MATIERE</th>
                                <th>FILIERE</th>
                                <th>NIVAU</th>
                                <th>CYCLE</th>
                                <th>CLASSES</th>
                                <th>VOLUME HORAIRE</th>
                                <th>VOLUME EFFECTUE </th>
                                <th>TAUX HORAIRE</th>
                                <th>SUPPORT COURS</th>
                                <th>SYLLABUS</th>
                            
                                
                                <th>NOTES DEPOSEES </th>
                                <th>CAHIER RENSEIGNE</th>
                                <th>DEMANDE ACCOMPTE</th>
                                <th>ACCOMPTE DEMANDEE</th>
                                <th>DATE  DEMANDEE</th>
                               
                               {% if user.is_staff %}

                               <th>ACTIONS</th>
                                
                               {% endif %}
                                
                                
                                
               
                            </tr>
                            </thead>
                            
                            <tbody>
                           
                            {% for contrat in contrats  %}
                                <th>{{forloop.counter}}</th>
                                <th>{{contrat.enseignant.code | upper }}</th>
                                <th>{{contrat.enseignant | upper }}</th>
                                <th>{{contrat.matiere | upper }}</th>
                                <th>{{contrat.filiere | upper }}</th>
                                <th>{{contrat.niveau | upper }}</th>
                                <th>{{contrat.classe.cycle | upper }}</th>
                                <th>{{contrat.classe.nom | upper }}</th>
                                <th>{{contrat.volume_horaire | upper }}</th>
                                <th>{{contrat.progression | upper }}</th>
                                <th>{{contrat.taux_horaire | upper }}</th>

                                {% if contrat.support  %}
                                <th>OUI <a target="_blank" href="{{contrat.support.url }}"> (Voir)</a> </th>
                                {% else %}
                                    <th>NON</th>
                                {% endif %}
                                {% if contrat.syllabus  %}
                                <th>OUI <a target="_blank" href="{{contrat.syllabus.url }}"> (Voir)</a> </th>
                                {% else %}
                                    <th>NON</th>
                                {% endif %}
                              
                                {% if contrat.notes  %}
                                <th>OUI</th>
                                {% else %}
                                    <th>NON</th>
                                {% endif %}
                                {% if contrat.cahier_de_texte  %}
                                <th>OUI</th>
                                {% else %}
                                    <th>NON</th>
                                {% endif %}

                                {% if contrat.demande_accompte  %}
                                <th>OUI</th>
                                {% else %}
                                    <th>NON</th>
                                {% endif %}
                                {% if contrat.demande_accompte  %}
                                <th>{{ contrat.date_update }}</th>
                                {% else %}
                                    <th>---</th>
                                {% endif %}
                                
                                
                                
                               
                                <td style="white-space: nowrap; width: 15%;">
                                    <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                    <div class="btn-group btn-group-sm" style="float: none;">
                                        
                                        {% if not contrat.demande_accompte %}

                                            {% if contrat.can_demande %}
                                            <button type="button" class="tabledit-save-button btn btn-sm btn-primary" style="float: none; margin: 5px;"><span class="ti-eye"></span> DEMANDER</button>
                                            {% else %}
                                            <button type="button" onclick="" class="tabledit-save-button btn btn-sm btn-danger" style="float: none; margin: 5px;"><span class="ti-eye"></span> INDISPONIBLE</button>
                                            {% endif %}

                                        {% else %}

                                        {% if contrat.demande_traitee %}
                                        <button type="button" onclick="'" class="tabledit-save-button btn btn-sm btn-success" style="float: none; margin: 5px;"><span class="ti-eye"></span> DEMANDER VALIDEE</button>
                                        {% else %}
                                        <button type="button" onclick="" class="tabledit-save-button btn btn-sm btn-primary" style="float: none; margin: 5px;"><span class="ti-eye"></span> DEMANDE EN COURS DE VALIDATION</button>
                                        {% endif %}


                                            
                                        {% endif %}
                                            
                                    </div>
                                 
                                    </div>
                                </td>
                                
                                    
                               
                                {% if user.is_staff %}

                                <td style="white-space: nowrap; width: 15%;">
                                    <div class="tabledit-toolbar btn-toolbar" style="text-align: left;">
                                    <div class="btn-group btn-group-sm" style="float: none;">
                                        <button type="button" onclick="window.location.href='{% url 'contrat_enseignant_print' code=contrat.enseignant.code pk=contrat.pk %}'" class="tabledit-save-button btn btn-sm btn-info" style="float: none; margin: 5px;"><span class="ti-eye"></span></button>
                                    </div>
                                 
                                    </div>
                                </td>
                                 
                                {% endif %}
                                
                            </tr>
                                
                            {% endfor %}
                                
                          
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End col -->
    </div>
    <!-- End row -->
</div>
    
{% endblock page %}
    